In [28]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import openpyxl

In [39]:
books = []
for i in range(1,51):
    url = f"https://books.toscrape.com/catalogue/page-{i}.html"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'lxml')
    
    title=[]
    price=[]
    stock=[]
    rating=[]
    for pages in soup.find_all('article', class_= 'product_pod'):
        title.append(pages.find_all('h3')[0].a['title'])
        price.append(pages.find_all('p',class_='price_color')[0].text.split('Â')[1])
        stock.append(pages.find_all('p', class_='instock availability')[0].text.strip())
        rating.append(pages.find_all('p', class_='star-rating')[0]['class'][1])
    
    d = {'title': title, 'price': price, 'stock': stock, 'rating': rating}
    df = pd.DataFrame(d)
    books.append(df)

In [55]:
final_book = pd.concat(books)                               #Concat pages into one dataframe
print(final_book)

                                                title   price     stock rating
0                                A Light in the Attic  £51.77  In stock  Three
1                                  Tipping the Velvet  £53.74  In stock    One
2                                          Soumission  £50.10  In stock    One
3                                       Sharp Objects  £47.82  In stock   Four
4               Sapiens: A Brief History of Humankind  £54.23  In stock   Five
..                                                ...     ...       ...    ...
15  Alice in Wonderland (Alice's Adventures in Won...  £55.53  In stock    One
16   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  £57.06  In stock   Four
17  A Spy's Devotion (The Regency Spies of London #1)  £16.97  In stock   Five
18                1st to Die (Women's Murder Club #1)  £53.98  In stock    One
19                 1,000 Places to See Before You Die  £26.08  In stock   Five

[1000 rows x 4 columns]

In [57]:
final_book.to_excel('books.xlsx', index=False)